*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Dependency/*
/app/.idea/*
/app/.svn/*
/app/local.properties
/gradle/wrapper/
app/src/debug/google-services.json
app/src/staging/google-services.json
app/src/release/google-services.json
gradle.properties
